<div class="container">
  <!-- Exchange Type
  <mat-button-toggle-group name="fontStyle" aria-label="Exchange" [(ngModel)]="selectedExchange">
    <mat-button-toggle value="NSE">NSE</mat-button-toggle>
    <mat-button-toggle value="BSE">BSE</mat-button-toggle>
  </mat-button-toggle-group> -->

<br>
<div class="flex-container">
  <span>Stock</span>

  <mat-select placeholder="Select Stock" class="control-style">
    <input matInput type="text" class="search-input" (keyup)="onKey($event)">
    <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]=5*48>
      <mat-option *cdkVirtualFor="let stock of stockData" [value]="stock"
        (onSelectionChange)="onStockChange(stock)">{{stock.symbol}} -- {{ stock.name }} -- {{ stock.exch_seg
        }}</mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-select>
</div>
  From Date
  <input type="date" [(ngModel)]="selectedFromDate" />
  To Date
  <input type="date" [(ngModel)]="selectedToDate" />

  <br>
<div class="flex-container">

  <span class="label-style">
  Select Interval
  </span>
  <mat-button-toggle-group name="fontStyle" aria-label="Mode" [(ngModel)]="selectedInterval">
    <mat-button-toggle value="ONE_MINUTE">1 MINUTE</mat-button-toggle>
    <mat-button-toggle value="THREE_MINUTE">3 MINUTE</mat-button-toggle>
    <mat-button-toggle value="FIVE_MINUTE">5 MINUTE</mat-button-toggle>
    <mat-button-toggle value="TEN_MINUTE">10 MINUTE</mat-button-toggle>
    <mat-button-toggle value="FIFTEEN_MINUTE">15 MINUTE</mat-button-toggle>
    <mat-button-toggle value="THIRTY_MINUTE">30 MINUTE</mat-button-toggle>
    <mat-button-toggle value="ONE_HOUR">1 Hour</mat-button-toggle>
    <mat-button-toggle value="ONE_DAY">1 Day</mat-button-toggle>
  </mat-button-toggle-group>
</div>
  <input type="button" matButton (click)="onSubmit()" value="Submit" class="submit-btn" />
  <input type="button" matButton (click)="export()" value="Export" class="submit-btn" />
  <br>

  <mat-tab-group>
    <mat-tab label="Grid">
      <cdk-virtual-scroll-viewport [itemSize]="20">
        <table class="fl-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Volume</th>
              <th>Change</th>
              <th>Change %</th>
            </tr>
          </thead>
          <tbody>
            <tr *cdkVirtualFor="let rec of result">
              <td>{{ rec[0] }}</td>
              <td>{{ rec[1] }}</td>
              <td>{{ rec[2] }}</td>
              <td>{{ rec[3] }}</td>
              <td>{{ rec[4] }}</td>
              <td>{{ rec[5] }}</td>
              <td>{{ rec[6] }}</td>
              <td>{{ rec[7] }}</td>
            </tr>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>

    </mat-tab>
    <mat-tab label="Chart">
      <app-charts [stocksChartData]="result"></app-charts>
    </mat-tab>
  </mat-tab-group>

  <!-- <div class="table-wrapper"> -->



  <!-- <div id="table-container"></div> -->
  <!-- </div> -->
</div>