<configuration>
<system.webServer>
<handlers>
<add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
</handlers>
  <defaultDocument>
       <files>
          <add value="app.js" />
       </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
</system.webServer>
</configuration>