
<div class="side-menu">
  <div class="brand-name">
      <h1>Stocks</h1>
  </div>
  <ul>
      <li [routerLink]="['/login']"><span>Login</span> </li>
      <!-- <li [routerLink]="['/getToken']"><span>Get Token</span> </li> -->
      <li [routerLink]="['/profile']"><span>Profile</span> </li>
      <li [routerLink]="['/dashboard']"><span>Dashboard</span> </li>
      <li [routerLink]="['/stock']"><span>Stock</span> </li>
      <li [routerLink]="['/historicalData']"><span>Historical Data</span> </li>
      <li [routerLink]="['/files']"><span>Files</span> </li>
      <li [routerLink]="['/options']"><span>Options</span> </li>
  </ul>
</div>
<div class="container">
  <!-- <div class="header">
      <div class="nav">
          <div class="search">
              <input type="text" placeholder="Search..">
              <button type="submit"><img src="search.png" alt=""></button>
          </div>
          <div class="user">
              <div class="img-case">
                  <img src="user.png" alt="">
              </div>
          </div>
      </div>
  </div> -->
<router-outlet></router-outlet>
</div>
