<button mat-icon-button [matMenuTriggerFor]="menu">
    <img class="avatar" [src]="user.avatar" width="24" alt="avatar" />
  </button>

  <mat-menu #menu="matMenu">
    <button routerLink="/profile/overview" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'profile' }}</span>
      <!-- <span>{{ 'profile' | translate }}</span> -->
    </button>
    <button routerLink="/profile/settings" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>{{ 'edit_profile' }}</span>
      <!-- <span>{{ 'edit_profile' | translate }}</span> -->
    </button>
    <button mat-menu-item (click)="restore()">
      <mat-icon>restore</mat-icon>
      <span>{{ 'restore_defaults' }}</span>
      <!-- <span>{{ 'restore_defaults' | translate }}</span> -->
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'logout' }}</span>
      <!-- <span>{{ 'logout' | translate }}</span> -->
    </button>
  </mat-menu>